body {
  margin: 0;
  font-family: "Helvetica", Arial, sans-serif;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fef200;
  width: 100%;

  &__image {
    padding: 8px 0;
  }
}
